<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title><?kt title ?></title>
    <meta property="og:title" content="<?kt title ?>">
    <meta property="og:description" content="<?kt description ?>">
    <meta property="og:type" content="website">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
</head>

<body>
<div id="sidebar"></div>
<div class="content">
    <?kt content ?>
</div>
<script>
    function getListItemHTML(node) {
        const url = new URL(location.href);
        url.hash = node.id;
        return `<a href="${url.href}">${node.textContent}</a>`
    }

    function generateNav(node = document.querySelector(".content")) {
        let str = "<ul>"
        let lastHeadingLevel = 0
        node.childNodes.forEach(child => {
            // skip non-headings
            if (child.tagName !== "H1" && child.tagName !== "H2" && child.tagName !== "H3" && child.tagName !== "H4" && child.tagName !== "H5" && child.tagName !== "H6") {
                return
            }
            const headingLevel = parseInt(child.tagName.substring(1))
            if (lastHeadingLevel === headingLevel) {
                // equally indented, close last element's ul (it will be empty) and li and open new one
                str += `</ul></li><li>${getListItemHTML(child)}<ul>`
            } else if (lastHeadingLevel < headingLevel) {
                // more indented, don't close last element's ul
                str += `<li>${getListItemHTML(child)}<ul>`
            } else {
                // unindented, close last tag + whatever the diff is between the current and last level
                const diff = lastHeadingLevel - headingLevel
                str += "</ul></li>" + "</ul>".repeat(diff)
                str += `<li>${getListItemHTML(child)}</li><ul>`
            }
            lastHeadingLevel = headingLevel
        })
        return str + "</ul>"
    }
</script>
<script defer>

    document.querySelector("#sidebar").innerHTML = generateNav()
</script>
<link rel="stylesheet" href="/style.css">
</body>

</html>
